
@import url('https://fonts.cdnfonts.com/css/minecraft-4');

.jakieskolorki{
    background-color: #f1edec;
    background-color: #52a535;
    background-color: #262423;
}




*{
    font-family: 'Minecraft', sans-serif;
}

body{
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar{
    display: none;
}


.background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@keyframes slide{
    from {filter: brightness(3);};
    to {filter: brightness(0);}
}

.animation{
    animation-name: slide;
    animation-duration: 2s;
}

.background img{
    height: 100%;
}

.menu{
    position: fixed;
    right:-15%;
    width: 30%;
    height: 30%;
    transition: 1.5s;
    top: 70%;

}



.main{
    width: 70%;
    height: auto;
    margin-left: 15%;
    margin-top: 17%;
    background-color: whitesmoke;
    position: absolute;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    min-height: 70%;
}


.naglowek{
    width: 100%;
    height: 70px;
    color: white;
    background-color:  #262423;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
    font-size: 400%;
    padding-bottom: 10px;
    padding-top: 10px;
    letter-spacing: 10px;
}

#login{
    font-size: 130%;
    width: 93%;
    margin-top: 3%;
    padding: 2px;
    margin-left: 5%;
    padding-bottom: 5px;

}

#password{
    font-size: 130%;
    width: 93%;
    padding: 2px;
    margin-top: 3%;
    padding-bottom: 5px;
    margin-left: 5%;
}

.login-container{
    top: 0;
    right: 0;
    position: absolute;
    width: 20%;
    height: 13.5%;
    background-color:  #262423;
    border-bottom-left-radius: 15px;
    border-left: 2px black solid;
    border-bottom: 2px black solid;
}


  
  
/* Buttons */
.menu-button{
    width: 65%;
    border: none;
    height: 25%;
    padding: 0;
    margin-left: 37%;
    display: block;
    transition: 1.5s;
    border:#262423 1px solid;
}

.icon-div{
    width: 20%;
    height: 100%;
    background-color:darkturquoise;
    float: left;
}

.icon-div-chosen{
    width: 20%;
    height: 100%;
    background-color:#52a535;
    float: left;
}

.icon{
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
}

.button-text-div{
    width: 80%;
    height: 100%;
    float: left;
    font-size: 250%;
    text-align: left;
    justify-content: center;
    background-color:#262423;
}

.button-text{
    width: 90%;
    height: 90%;
    margin-left: 5%;
    margin-top:10%;
    color: white;
}

.menu-button:hover{
    margin-left: 0%;
}


.log-in{
    margin-left:10%;
    margin-top: 4%;
    display: block;
    width: 40%;
    text-align: center;
    background-color: white;
    height: 40%;
    padding-bottom: 10px;
    font-size: 130%;
    padding-top: 5px;
    border: none;
    transition: 0.5s;
    float: left;
  }

.reg-in{
    margin-left:7%;
    margin-top: 4%;
    display: block;
    width: 40%;
    text-align: center;
    background-color: white;
    height: 40%;
    padding-bottom: 10px;
    font-size: 130%;
    padding-top: 5px;
    border: none;
    transition: 0.5s;
    float: left;
  }

.log-in:hover{
  color: white;
  background-color: #52a535;
}

.reg-in:hover{
    color: white;
    background-color: #52a535;
  }
.title-break{
  width: 100%;
  background: linear-gradient(90deg, rgb(161, 160, 160) 0%, rgba(230,235,12,1) 50%, rgba(2,207,249,1) 100%);
  height: 50px;
  letter-spacing: 25px;
  font-size: 250%;
  text-align: center;
}

.content-div{
  width: 100%;
  height: auto;
}

.karnety{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.karnet{
    width: 30%;
    height: 100%;
    float: left;
    display: block;
    border-radius: 25px;
    font-size: 35px;
}

.karnet img{
    width: 60%;
    margin-left: 20%;
    border-radius: 80px;
    margin-top: 10px;
}

.iron{
    background-color: silver;
}

.gold{
    background-color: gold;
}

.diax{
    background-color: darkturquoise;
}

img[class=emerald]{
    width: 40px;
    margin-left: -2px;
    margin-bottom: -7px;
}

.karnet-text{
    text-align: center;
    width: 100%;
    margin-top: 20px;
}

.karnet-tytul{
    font-size: 50px;
}

.error{
    position: absolute;
    width: 15%;
    height: 20%;
    right: 0;
    top: 18%;
    font-size: 120%;
    color: red;
}

.historia{
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    font-size: 130%;
    line-height: 32px;
    padding-top: 10px;
    padding-bottom: 10px;
}

input[type=radio]{
    transform: scale(0);
}

.zalogowany{
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 170%;
}

.potwkarntab td{
    border: 3px #262423 solid;
    color: orange;
    font-size: 200%;
}

.potwkarntab{
    border-collapse: collapse;
    float: left;
}

.dane-rej{
    width: 90%;
    margin-left: 24%;
    font-size: 200%;
}

.dane-rej input{
    font-size: 120%;
    margin-right: 100px;
    margin-top: 15px;
}

.dalej{
    margin-left: 20%;
    margin-bottom: 20%;
    width: 20%;
    transition: 1s;
    padding-bottom: 5px;
}

.dalej:hover{
    background-color:#52a535;
    color: white;
}

.zaloz{
    margin-left: 35%;
    margin-bottom: 20%;
    width: 30%;
    transition: 1s;
    padding-bottom: 5px;
}

.zaloz:hover{
    background-color: #52a535;
    color: white;
}

.dane-lewa{
    width: 45%;
    padding-left: 5%;
    font-size: 150%;
    text-align: center;
    border-right: #262423 dotted 10px;
    float: left;
    height: 200%;
}

.dane-lewa span, .dane-prawa span{
    color: red;
}

.dane-lewa input{
    font-size: 110%;
}

.dane-lewa input[type=checkbox]{
    transform:scale(1.6);
    margin-left: 10px;
}

.umow{
    margin-left: 10px;
    transition: 1s;
}

.umow:hover{
    background-color: #52a535;
    color: whitesmoke;
}

.dane-prawa{
    float: right;
    width: 43%;
    padding-right: 5%;
    height: 200px;
    border-left: #262423 dotted 10px;
    text-align: center;
}

li{
    text-align: left;
    list-style: none;
}

.uslugi td{
    border: 2px solid black;
}

.uslugi{
    font-size: 140%;
    width: 50%;
    float: left;
}